<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks</title>
    <link rel="stylesheet" type="text/css" href="/css/tops.css"
</head>
<body>
    <h1>My Top Tracks</h1>
    <ul class="row">
        <% tracks.forEach(function(track) { %>
            <li class="track">
                <h2><%= track.name %></h2>
                <p><strong>Artist:</strong><%= track.artist %></p>
                <p><strong>Album:</strong><%= track.album %></p>
                <p><strong>Preview:</strong> <a href="<%= track.preview_url %>">Listen on Spotify</a></p>
                <p><strong>Acousticness:</strong><%= track.acousticness %></p>
                <p><strong>Danceability:</strong><%= track.danceability %></p>
                <p><strong>Energy:</strong><%= track.energy %></p>
                <p><strong>Instrumentalness:</strong><%= track.Instrumentalness %></p>
                <p><strong>Key:</strong><%= track.key %></p>
                <p><strong>Liveness:</strong><%= track.liveness %></p>
                <p><strong>Popularity:</strong><%= track.popularity %></p>
                <p><strong>Genres:</strong><%= track.genres.join(', ') %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>